page-login {

}
.mainWindow{
  display: flex;
  width:100%;
  height: 100%;
  justify-content: space-around;
  flex-direction: column;
}
.formulaire{
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;

  padding-right:10px;
}
.formulaire button{
  width:95%;
}
