page-login {

}
.loginContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.loginLogo{
  padding-top:10%;
  min-height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.loginLogo img{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.loginLogo h3{
  font-family: "Domine";
  font-size: 2em;
}
.mainWindow{
  display: flex;
  width:100%;
  //height:50%;
  //justify-content: space-around;
  flex-direction: column;
}
.formulaire{
  display: flex;
  width:100%;
  height: 100%;
  flex-direction: column;
}
.loginButtonsContainer{
  height: 20%;
  display: flex;
  flex-direction: column;
}

