<ion-header>

  <ion-navbar>
    <ion-title>{{'signUp' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form (ngSubmit)="handleSubmit()" [formGroup]="userForm">
    <div>
      <ion-item>
        <ion-label floating>{{'lastName' | translate}}</ion-label>
        <ion-input formControlName="lastName" [(ngModel)]="lastName"></ion-input>
      </ion-item>
      <div *ngIf="lastNameCtrl.dirty && lastNameCtrl.hasError('required')">
        {{'lastNameRequired' | translate}}
      </div>

      <ion-item>
        <ion-label floating>{{'firstName' | translate}}</ion-label>
        <ion-input formControlName="firstName" [(ngModel)]="firstName"></ion-input>
      </ion-item>
      <div *ngIf="firstNameCtrl.dirty && firstNameCtrl.hasError('required')">
        {{'firstNameRequired' | translate}}
      </div>

      <ion-item>
        <ion-label floating>{{'phoneNumber' | translate}}</ion-label>
        <ion-input formControlName="phone" type="number" [(ngModel)]="phone"></ion-input>
      </ion-item>
      <div *ngIf="phoneCtrl.dirty && phoneCtrl.errors">
        {{'phoneNumberInvalid' | translate}}
      </div>
      <div *ngIf="phoneCtrl.dirty && phoneCtrl.hasError('required')">
        {{'phoneNumberRequired' | translate}}
      </div>

      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('email')">
        {{'emailInvalid' | translate}}
      </div>
      <div *ngIf="emailCtrl.dirty && emailCtrl.hasError('required')">
        {{'emailInvalid' | translate}}
      </div>

      <ion-item>
        <ion-label>{{'profile' | translate}}</ion-label>
        <ion-select formControlName="profile" [(ngModel)]="profile" interface="popover" [selectOptions]="profileType">
          <ion-option *ngFor="let o of profileType" [value]="o">{{o}}</ion-option>
        </ion-select>
      </ion-item>

      <form [formGroup]="passwordForm">
        <ion-item>
          <ion-label floating >{{'password' | translate}}</ion-label>
          <ion-input formControlName="password" type="password" minlength="4" maxlength="4" name="password" [(ngModel)]="password"></ion-input>
        </ion-item>
        <div *ngIf="passwordCtrl.errors && passwordCtrl.dirty">
          {{'passwordInvalid' | translate}}
        </div>
        <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">
          {{'passwordRequired' | translate}}
        </div>

        <ion-item>
          <ion-label floating >{{'confirmPassword' | translate}}</ion-label>
          <ion-input formControlName="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="confirmPassword"></ion-input>
        </ion-item>
        <div *ngIf="confirmPasswordCtrl.errors && confirmPasswordCtrl.dirty">
          {{'passwordInvalid' | translate}}
        </div>
        <div *ngIf="confirmPasswordCtrl.dirty && confirmPasswordCtrl.hasError('required')">
          {{'passwordRequired' | translate}}
        </div>
      </form >
      <div *ngIf="passwordForm.hasError('confirmError')">
        {{'incorrectConfirmPassword' | translate}}
      </div>
    </div>

    <div class="submitButton">
      <button ion-button type="submit" [disabled]="userForm.invalid" margin="auto">
        {{'signUp' | translate}}
      </button>
    </div>
  </form>

</ion-content>
