// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Domine';
  src: url('../assets/fonts/Domine-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


.menuContainer{
  display:flex;
  flex-direction: column;
  height:100%;
}

.menuPresentationProfil{
  display: flex;
  justify-content: center;
  padding:20px 10px;
  flex-direction: column;
  background-color:#414BA8;
  height:35%;

}
.iconMenu{
  height:55%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}
.photoMenu{
  margin:2% 5% 5% 10%;
  width:70px;
  height:70px;
  border-radius:50%;
}
.menuLastName{

}
.menuCompleteName{
  width:100%;
  margin-left:10%;
  font-size: 18px;
  color:white;

}
.menuDetails{
  font-size: 12px;
  line-height: 105%;
}
.menuDeconnexion{
  height: 10%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.menuDeconnexion button{
  color:red;
}
//.menuDeconnexion button{
//  justify-content: flex-end;
//}
