<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>contactList</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar
    [(ngModel)]="searchQuery"
    [showCancelButton]="shouldShowCancel"
    placeholder="Cherchez par nom ou par numéro de téléphone"
    (ionInput)="searchFunction($event)"
    >
  </ion-searchbar>
  <br>
  <div *ngIf="verif0Contact" class="containerAlert">
    <div class="alertOContacts">
      <p> Vous n'avez pas encore de contacts</p>
      <br>
      <button ion-button>Ajouter mon premier contact</button>
    </div>
  </div>

  <div *ngFor="let contact of contacts" >
    <div (click)="goToContactDetails(contact)">
      <div class="contactCard">
        <h2>
          {{contact.firstName}}
        </h2>
        <p class="cardGenre">
          {{contact.lastName}}
        </p>
      </div>
    </div>
  </div>
</ion-content>
