<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToAddContact()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-searchbar
    [(ngModel)]="searchQuery"
    [showCancelButton]="shouldShowCancel"
    placeholder="Cherchez par nom ou par numéro de téléphone"
    (ionInput)="searchFunction($event)"
    class="contactSearchBar"
    >
  </ion-searchbar>
  <br>
  <div *ngIf="verif0Contact" class="containerAlert">
    <div class="alertOContacts">
      <p> Vous n'avez pas encore de contacts</p>
      <br>
      <button ion-button>Ajouter mon premier contact</button>
    </div>
  </div>

  <div *ngFor="let contact of contacts">
    <div >
      <div class="contactCard">
        <div (click)="goToContactDetails(contact)" class="detailContactClickZone">
          <div class="cellImage">
            <img src="{{contact.gravatar}}?s=200&d=mm" alt="profileImage">
          </div>
          <div class="contactNameContainer">
          <span class="lastNameDisplay">
            {{contact.lastName}}
          </span>
            <span class="firstNameDisplay">
            {{contact.firstName}}
          </span>
          </div>
        </div>

        <div class="cellCallButton">
          <button icon-only  class="callButton" (click)="callContact(contact.phone)">
            <ion-icon name="call" class="iconCall"></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
