page-contact-list {

}

.contactSearchBar{
}

.contactCard{
  border: 1px solid lightgrey;
  padding:10px ;
  width: 94%;
  margin: 5px;
  max-height:100px;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
  -moz-box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
  box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
}
.detailContactClickZone{
  display: flex;
  flex-direction: row;
  width:82%;
  align-items: center;
  justify-content: center;
}
.cellImage{
}

.cellImage img{
  min-width:50px;
  height:50px ;
  border-radius:50%;
}

.contactNameContainer{
  padding:5px 10px 5px 15px;
  width:80%;
  max-width: 80%;
  justify-content: center;
}
.lastNameDisplay{
  font-size:15px;
  font-weight: bold;
}
.firstNameDisplay{
  font-size:15px;
}
.profileDisplay{
  font-size:12px;
}

.cellCallButton{
  display:flex;
  margin-right:10px;
  width:60px;
  height:60px;
  align-self: center;
  justify-content: center;

}
.callButton{
  background-color: white;
  width:50px;
  height:50px;
  border:2px solid green;
  border-radius: 50%;
}
.callButton ion-icon{
  margin:0;
  padding:0;
  line-height: 30px;
  font-size: 30px;
  color:green;
}

.containerAlert{
  display:flex;
  align-content: center;
  width: 100%;
  height: 60%;
  margin: 5px;
  padding: 5px;
}
.alertOContacts {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:auto;
  text-align: center;
  background-color: lightgrey;
  height:40%;
  padding:10px;
  border:1px solid grey;
  border-radius: 5px;
}
.alertOContacts button{
  align-self: end;
}
