page-contact-list {

}
.contactCard{
  border: 1px solid lightgrey;
  margin:10px;
  padding:5px;
  display: flex;
  flex-direction: row;
  -webkit-box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
  -moz-box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
  box-shadow: -5px 5px 15px 0px rgba(133,133,133,1);
}
.contactCard img{
  width:90px;
  height:90px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:1px solid lightgrey;
}

.contactNameContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  padding-top:10px;
}
.cellCallButton{
  margin-right:5%;
}
.callButton{
  background-color: white;
  height:100%;
  width:90px;
  border:1px solid grey;
  border-radius: 50%;
}


.containerAlert{
  display:flex;
  align-content: center;
  width: 100%;
  height: 60%;
  margin: 5px;
  padding: 5px;
}
.alertOContacts {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin:auto;
  text-align: center;
  background-color: lightgrey;
  height:40%;
  padding:10px;
  border:1px solid grey;
  border-radius: 5px;
}
.alertOContacts button{
  align-self: end;
}
