page-contact-detail {

}
.detailContainer{
  display: flex;
  flex-direction: column;
  height:100%;
  width:100%;
  padding-top:8%;
}
.photoContainer{
  height:20%;
  align-content: center;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.photoProfil{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nameContainer{
  margin-top:20px;
  text-align:center;
}
.detailFirstName{
  font-size: 16px;
  padding-top:15px;
}
.detailLastName{
  font-size: 20px;
  font-weight: bold;
}
.buttonsContainer{
  display:flex;
  margin:8% auto ;
  height:50px;
  width: 70%;

}
.buttonLeft{
  height:100%;
  border-radius:0;
  border: 3px solid #414BA8;
  border-top-left-radius:25%;
  border-bottom-left-radius: 25%;
  margin:0;
  width:33%;
  font-size:15px;
  color: #414BA8;
  background-color: white;
}
.buttonCenter{
  height:100%;
  border-radius:0;
  border-top:3px solid #414BA8;
  border-bottom:3px solid #414BA8;
  margin:0;
  width:33%;
  color: #414BA8;
  font-size:15px;
  background-color: white;

}
.buttonRight{
  height:100%;
  border-radius:0;
  border: 3px solid #414BA8;
  border-top-right-radius:25%;
  border-bottom-right-radius: 25%;
  margin:0;
  width:33%;
  font-size:15px;
  color: #414BA8;
  background-color: white;

}
.detailInformations{
  display: flex;
  flex-direction: column;
  margin-top:3%;
  padding-left:5%;

}
detailInformations span{
  font-size:15px;
}
.detailPhone{
  width: 100%;
  padding-left:5%;
  margin:3%;
}
.detailMail{
  width: 100%;
  padding-left:5%;
  margin:3%;
}

